.jumbotron.text-center{
    background-image: url("https://mapr.com/blog/sample-code-best-practices-and-technical-resources-now-available-developer-central/assets/devcentralimage.jpg");
}

.jumbotron.text-center h1{
    color: whitesmoke;
}

.col{
    margin-top: 100px;
}

.containerOmOss {
    height: 10em;
    position: relative
    color:  
}

.column {
    margin: 0;
    margin-top: 30px;
    position: absolute;
    width: 100%;
    display: block;
    text-align: center;
}

.column h2{
    text-align: center;
}

.kodbagarnalogo{
    vertical-align: middle;
    border-style: none;
    margin-left: 33%;
    margin-top: 20px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 400px){
    .kodbagarnalogo {
        margin-top: 105px;
        width: 50%;
        height: 50%;
        margin-left: 22%;
    }

    .col {
        
        flex-basis: auto !important;
        
    }

    .personbild{
        width: 30%;
        height: 30%;
    }

    .column{
        width: 100%;
        margin-left: 3%;
    }

    .row {

        margin: 0;
    }
}