.jumbotron.text-center{
    background-image: url("https://mapr.com/blog/sample-code-best-practices-and-technical-resources-now-available-developer-central/assets/devcentralimage.jpg");
}

.jumbotron.text-center h1{
    color: whitesmoke;
}